@charset "utf-8";
/* CSS Document */
@media(max-width:320px){
	section{height: 76vh;
	}
	.menu {
		justify-content: center;
		
		
	}
	.active:hover{background-color: purple;
		border-radius: 10px;
	
}
	.aboutme{
		
	font-size: 16px;
	
	line-height: 15px

	}
	.my-photo img{
	
	margin: 10px 10px 10px 40px;
           }
	.aboutme{
		line-height: 14px; font-size: 11px;
	}
	
	
	
	.contact{
		height: 75vh;
		width: 100%;
	}
	footer h1{
		margin-top: 50px;
		margin-bottom: 10px;
	}
	footer p{
		letter-spacing: 1px;
		line-height: 20px;
	}
	
	
}
@media(min-width:600px),(max-width:900px){
	.logo{
		padding: 0px 5%;
	}
	
	.active:hover{background-color: purple;
		border-radius: 10px;
	
}
	.my-photo img{
	
	margin: 10px 10px 10px 40px;
           }
	.aboutme{
		line-height: 14px; font-size: 11px;
	}
	
	footer h1{
		margin-top: 50px;
		margin-bottom: 10px;
	}
	footer p{
		letter-spacing: 1px;
		line-height: 20px;
	}
	#contact{
		width: 40px;
	}
	
	
}
